body{
    background-color: darkslategray;
}
#frm{
    border: solid gray 1px;
    background-color:white;
    border-radius: 50px;
    padding: 70px;
    width :30%;
    text-align: center;
    margin: 150px auto;
}
#btn{
    background-color: #2196F3;
    padding: 5px;
    width: 25%;
    margin-left: 69%;
}